CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/
build/

*.o
*.a
*.so

data/sparse-matrix/pre2.mtx
data/sparse-matrix/inline_1.mtx
data/sparse-matrix/tmt_unsym.mtx
data/sparse-matrix/Flan_1565.mtx